<div class="background">
  <audio #happybirthday src="assets/HappyBirthday.mp3" autoplay></audio>
  <div class="header-container">
    <h1>รูปที่(กู)ชอบ</h1>
  </div>
  <!-- ลูกศรเลื่อนลง -->
  <div class="scroll-down">
    <span>&#x25BC;</span>
    <!-- ลูกศรลงแบบ Unicode -->
  </div>

  <div class="photos">
    <div class="photo-right" data-aos="fade-right">
      <img src="assets/IMG_4868.jpeg" alt="one" />
      <div class="text">
        <p>รูปแรกที่ถ่ายกันและรู้จักกันครั้งแรก</p>
      </div>
    </div>

    <div class="photo-left" data-aos="fade-left">
      <img src="assets/IMG_5039.jpeg" alt="balloon" />
      <div class="text">
        <p>ผู้หญิงอะไรกินเหล้าเก่งคัก</p>
      </div>
    </div>

    <div class="photo-right" data-aos="fade-right">
      <img src="assets/IMG_5040.jpeg" alt="balloon" />
      <div class="text">
        <p>แต่ว่าทริปนี้ก็คือสนุกนะ</p>
      </div>
    </div>

    <div class="photo-left" data-aos="fade-left">
      <video width="200" controls>
        <source src="assets/IMG_9272.mp4" type="video/mp4" />
      </video>
      <div class="text">
        <p>มึงก็ชอบเล่นน้ำเกิน เล่นจนตัวเปือยแล้วมั้ง</p>
      </div>
    </div>

    <div class="photo-right" data-aos="fade-right">
      <img src="assets/IMG_2465.PNG" alt="balloon" />
      <div class="text">
        <p>filter หมอกเกินน สมัยไลฟ์สด</p>
      </div>
    </div>

    <div class="photo-left" data-aos="fade-left">
      <img src="assets/IMG_5752.png" alt="balloon" />
      <div class="text">
        <p>รู้แหละว่าท้อใจที่กูถ่ายรูปให้ไม่ได้ดั่งใจ5555</p>
      </div>
    </div>

    <div class="photo-right" data-aos="fade-right">
      <img src="assets/IMG_6030.png" alt="balloon" />
      <div class="text">
        <p>ขายาวมากแม่....</p>
      </div>
    </div>

    <div class="photo-left" data-aos="fade-left">
      <img src="assets/IMG_6270.png" alt="balloon" />
      <div class="text">
        <p>รูปนี้กูชอบมาก ธรรมชาติสุด สวยเกินนน</p>
      </div>
    </div>

    <div class="photo-right" data-aos="fade-right">
      <img src="assets/IMG_6274.png" alt="balloon" />
      <div class="text">
        <p>นี่ก็ธรรมชาติ555</p>
      </div>
    </div>

    <div class="photo-left" data-aos="fade-left">
      <img src="assets/IMG_6290.png" alt="balloon" />
      <div class="text">
        <p>สวย น่ารัก แล้วก็บ่นเก่ง</p>
      </div>
    </div>

    <div class="photo-right" data-aos="fade-right">
      <img src="assets/IMG_6293.png" alt="balloon" />
      <div class="text">
        <p>เซ็กซี่สุดๆรูปนี้</p>
      </div>
    </div>

    <div class="photo-left" data-aos="fade-left">
      <img src="assets/IMG_6302.png" alt="balloon" />
      <div class="text">
        <p>รูปที่เผลอๆ คือน่ารักมาก555</p>
      </div>
    </div>

    <div class="photo-right" data-aos="fade-right">
      <img src="assets/IMG_6304.png" alt="balloon" />
      <div class="text">
        <p>นี่ก็เซ็กซี่ฉุดๆ</p>
      </div>
    </div>

    <div class="photo-left" data-aos="fade-left">
      <img src="assets/IMG_6337.png" alt="balloon" />
      <div class="text">
        <p>คมชัดสุดๆ555</p>
      </div>
    </div>

    <div class="photo-right" data-aos="fade-right">
      <img src="assets/IMG_6343.png" alt="balloon" />
      <div class="text">
        <p>รอยยิ้มมีเสน่ห์เกิน</p>
      </div>
    </div>

    <div class="photo-left" data-aos="fade-left">
      <img src="assets/IMG_6360.png" alt="balloon" />
      <div class="text">
        <p>ยิ่งมองยิ่งน่ารัก555</p>
      </div>
    </div>

    <div class="photo-right" data-aos="fade-right">
      <img src="assets/IMG_6405.png" alt="balloon" />
      <div class="text">
        <p>กว่าจะได้แต่ละรูป555</p>
      </div>
    </div>

    <div class="photo-left" data-aos="fade-left">
      <img src="assets/IMG_6442.png" alt="balloon" />
      <div class="text">
        <p>รอยยิ้มนี้ที่มันดึงดูด</p>
      </div>
    </div>

    <div class="photo-right" data-aos="fade-right">
      <img src="assets/IMG_6453.png" alt="balloon" />
      <div class="text">
        <p>555555555555</p>
      </div>
    </div>

    <div class="photo-left" data-aos="fade-left">
      <img src="assets/IMG_6460.png" alt="balloon" />
      <div class="text">
        <p>เริ่มไม่มีคำบรรยายละ55</p>
      </div>
    </div>

    <div class="photo-right" data-aos="fade-right">
      <img src="assets/IMG_6461.png" alt="balloon" />
      <div class="text">
        <p>เอาเป็นว่าดูรูปไปเฉยๆล่ะกัน</p>
      </div>
    </div>

    <div class="photo-left" data-aos="fade-left">
      <img src="assets/IMG_6471.png" alt="balloon" />
      <div class="text">
        <p>กูแมร่งชอบทุกรูป55</p>
      </div>
    </div>

    <div class="photo-right" data-aos="fade-right">
      <img src="assets/IMG_6421.png" alt="balloon" />
      <div class="text">
        <p>จังหวะที่ใช่ใครก็ชอบ555</p>
      </div>
    </div>

    <div class="photo-left" data-aos="fade-left">
      <img src="assets/IMG_6401.png" alt="balloon" />
      <div class="text">
        <p>หน้าตอนที่มึงบ่นกูนิคือน่ารักเกิน55</p>
      </div>
    </div>

    <div class="photo-right" data-aos="fade-right">
      <img src="assets/IMG_6512.png" alt="balloon" />
      <div class="text">
        <p>หนึ่งวันพันเรื่อง555 คนอะไรขี้ลืมเกิน</p>
      </div>
    </div>

    <div class="photo-left" data-aos="fade-left">
      <img src="assets/IMG_6557.png" alt="balloon" />
      <div class="text">
        <p>บรรยากาศกำลังดีกับคนที่น่ารักอย่างเธอ แต่คนอย่างเยอะ</p>
      </div>
    </div>

    <div class="photo-right" data-aos="fade-right">
      <img src="assets/IMG_6560.png" alt="balloon" />
      <div class="text">
        <p>บร๊ะ! รูปนี้สวยจริ้งงง</p>
      </div>
    </div>

    <div class="photo-left" data-aos="fade-left">
      <img src="assets/IMG_6571.png" alt="balloon" />
      <div class="text">
        <p>
          ฉ๊วยยยย ถ้ากูบอกไม่สวยก็ได้ไม่ เดียวมึงก็จะบอกว่า
          "มึงต้องพูดว่ากูสวยยยย"
        </p>
      </div>
    </div>

    <div class="photo-right" data-aos="fade-right">
      <img src="assets/IMG_6525.png" alt="balloon" />
      <div class="text">
        <p>ฉ๊วยยยย ภาคสอง555</p>
      </div>
    </div>

    <div class="photo-left" data-aos="fade-left">
      <img src="assets/IMG_6515.png" alt="balloon" />
      <div class="text">
        <p>ฉ๊วยยยย ภาคสาม555</p>
      </div>
    </div>

    <div class="photo-right" data-aos="fade-right">
      <img src="assets/tay1.JPG" alt="balloon" />
      <div class="text">
        <p>ฉ๊วยยยย ภาคสี่555</p>
      </div>
    </div>

    <div class="photo-left" data-aos="fade-left">
      <video width="200" controls>
        <source src="assets/IMG_6700.mp4" type="video/mp4" />
      </video>
      <div class="text">
        <p>ขี้เหล้าจริงไม่อิงสตั้น</p>
      </div>
    </div>

    <div class="photo-right" data-aos="fade-right">
      <video width="200" controls>
        <source src="assets/IMG_6698.mp4" type="video/mp4" />
      </video>
      <div class="text">
        <p>เอาสุดเกิน</p>
      </div>
    </div>

    <div class="photo-left" data-aos="fade-left">
      <video width="200" controls>
        <source src="./assets/tay.MP4" type="video/mp4" />
      </video>
      <div class="text">
        <p>น่ารักเกิน</p>
      </div>
    </div>

    <div class="photo-right" data-aos="fade-right">
      <div class="text">
        <p>
          สุดท้ายแล้ว กูอาจจะไม่มีของขวัญที่เป็นชิ้นให้มึงหรอกนะ
          แต่กูตั้งใจทำเว็บนี้ขึ้นมาให้มึงเลยนะ ถึงมันจะดูธรรมดาก็เถอะแต่กูก็ตั้งใจทำ กูขอให้มึงมีความสุขมากๆนะ
          อย่าเจอเรื่องเศร้าใจ แต่ถ้ามึงเจอเรื่องที่ทำให้เศร้า และท้อใจ
          ขอให้รู้ไว้ว่ากูอยู่ตรงนี้นะ ข้างๆมึงเสมอ กูจะคอยดูแลมึง
          คอยซัพพอร์ตมึงอยู่แบบนี้แหละ &hearts;&hearts;&hearts;
        </p>
      </div>
    </div>
  </div>
</div>
